n8n_workflow.json
{
    "name": "Social Listener — Lead to Gmail Draft",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "social-listener-lead",
                "responseMode": "onReceived",
                "options": {}
            },
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                0,
                0
            ],
            "id": "a1b2c3d4-0001-4000-8000-000000000001",
            "name": "Webhook: New Lead"
        },
        {
            "parameters": {
                "operation": "getAll",
                "tableId": "leads",
                "limit": 1,
                "filters": {
                    "conditions": [
                        {
                            "keyValue": {
                                "key": "id",
                                "value": "={{ $json.body.lead_id }}"
                            }
                        }
                    ]
                }
            },
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                220,
                0
            ],
            "id": "a1b2c3d4-0002-4000-8000-000000000002",
            "name": "Fetch Lead from Supabase",
            "credentials": {
                "supabaseApi": {
                    "id": "REPLACE_WITH_YOUR_SUPABASE_CREDENTIAL_ID",
                    "name": "Supabase Account"
                }
            }
        },
        {
            "parameters": {
                "promptType": "define",
                "text": "=Generate a personalized outreach email for this lead.\n\nPlatform: {{ $json.platform }}\nAuthor: {{ $json.author }}\nPost Title: {{ $json.post_title }}\nPost Content: {{ $json.post_content }}\nFrustration Reason: {{ $json.reason }}\nSuggested Service: {{ $json.suggested_service }}\nConfidence: {{ $json.confidence }}\n\nRules:\n- Write a subject line (5-8 words) and email body\n- Keep it under 150 words\n- Be empathetic, not salesy\n- Don't mention which platform you found them on\n- Include a gentle call to action\n- Sound like a real person\n\nRespond with ONLY valid JSON:\n{\"subject\": \"the subject\", \"body\": \"the email body\"}",
                "options": {
                    "systemMessage": "You are a friendly business development specialist who writes warm, empathetic outreach emails. You help people who are frustrated and struggling with their projects. Never be pushy or use corporate jargon. Always sound genuine and helpful."
                }
            },
            "type": "@n8n/n8n-nodes-langchain.agent",
            "typeVersion": 3.1,
            "position": [
                440,
                0
            ],
            "id": "a1b2c3d4-0003-4000-8000-000000000003",
            "name": "AI Agent: Generate Message"
        },
        {
            "parameters": {
                "model": {
                    "__rl": true,
                    "mode": "list",
                    "value": "gpt-4o-mini"
                },
                "builtInTools": {},
                "options": {}
            },
            "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
            "typeVersion": 1.3,
            "position": [
                340,
                220
            ],
            "id": "a1b2c3d4-0004-4000-8000-000000000004",
            "name": "OpenAI Chat Model",
            "credentials": {
                "openAiApi": {
                    "id": "REPLACE_WITH_YOUR_OPENAI_CREDENTIAL_ID",
                    "name": "OpenAI API"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "// Parse the AI response to extract subject and body\nconst output = $input.first().json.output || $input.first().json.text || '';\n\nlet parsed;\ntry {\n  // Try to extract JSON from the response\n  const jsonMatch = output.match(/\\{[\\s\\S]*\\}/);\n  parsed = JSON.parse(jsonMatch ? jsonMatch[0] : output);\n} catch (e) {\n  parsed = {\n    subject: 'Quick question about your project',\n    body: output\n  };\n}\n\nreturn [{\n  json: {\n    subject: parsed.subject || 'Quick question about your project',\n    body: parsed.body || output,\n    lead_id: $('Fetch Lead from Supabase').first().json.id,\n    analyzed_post_id: $('Fetch Lead from Supabase').first().json.analyzed_post_id\n  }\n}];"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                660,
                0
            ],
            "id": "a1b2c3d4-0005-4000-8000-000000000005",
            "name": "Parse AI Response"
        },
        {
            "parameters": {
                "resource": "draft",
                "subject": "={{ $json.subject }}",
                "emailType": "text",
                "message": "={{ $json.body }}",
                "additionalFields": {}
            },
            "type": "n8n-nodes-base.gmail",
            "typeVersion": 2.1,
            "position": [
                880,
                0
            ],
            "id": "a1b2c3d4-0006-4000-8000-000000000006",
            "name": "Create Gmail Draft",
            "credentials": {
                "gmailOAuth2": {
                    "id": "REPLACE_WITH_YOUR_GMAIL_CREDENTIAL_ID",
                    "name": "Gmail Account"
                }
            }
        },
        {
            "parameters": {
                "operation": "update",
                "tableId": "leads",
                "matchingColumns": [
                    "id"
                ],
                "columns": {
                    "mappingMode": "defineBelow",
                    "value": {
                        "id": "={{ $json.lead_id }}",
                        "status": "contacted"
                    }
                }
            },
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                1100,
                0
            ],
            "id": "a1b2c3d4-0007-4000-8000-000000000007",
            "name": "Update Lead Status",
            "credentials": {
                "supabaseApi": {
                    "id": "REPLACE_WITH_YOUR_SUPABASE_CREDENTIAL_ID",
                    "name": "Supabase Account"
                }
            }
        }
    ],
    "connections": {
        "Webhook: New Lead": {
            "main": [
                [
                    {
                        "node": "Fetch Lead from Supabase",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Fetch Lead from Supabase": {
            "main": [
                [
                    {
                        "node": "AI Agent: Generate Message",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "OpenAI Chat Model": {
            "ai_languageModel": [
                [
                    {
                        "node": "AI Agent: Generate Message",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        },
        "AI Agent: Generate Message": {
            "main": [
                [
                    {
                        "node": "Parse AI Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Parse AI Response": {
            "main": [
                [
                    {
                        "node": "Create Gmail Draft",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Create Gmail Draft": {
            "main": [
                [
                    {
                        "node": "Update Lead Status",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "pinData": {},
    "settings": {
        "executionOrder": "v1"
    },
    "staticData": null,
    "meta": {
        "templateCredsSetupCompleted": true
    },
    "tags": [
        {
            "name": "Social Listener"
        }
    ]
}